[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing_extensions = "4.14.1"

[dev-packages]
pytest = "8.4.1"
pre-commit = "4.2.0"

[requires]
python_version = "3"
